#wpadminbar {
  @apply tw-fixed;
}

.prose {
  font-size: 18px;

  p {
    @apply tw-mb-8;
  }

  p a {
    @apply tw-text-hyperlinks tw-underline visited:tw-text-hyperlinks-visited;

    text-underline-offset: 2px;
  }

  hr {
    @apply tw-mb-8;
  }

  iframe {
    @apply tw-w-full;
  }
}

.prose figcaption {
  @apply tw-italic;
}

.prose ul,
.prose ol {
  @apply tw-pr-6 tw-text-xl tw-mb-8;
}

.prose ul {
  @apply tw-pl-6;
}

.prose ol {
  @apply tw-pl-6;
}

.prose ul ul,
.prose ol ol,
.prose ol ul,
.prose ul ol, {
  @apply tw-mb-0;
}

.prose ul,
.prose ol {
  ul {
    @apply tw-py-6;
  }

  ol {
    @apply tw-py-6;
  }
}

.prose ul {
  @apply tw-list-disc;
}

.prose ol {
  @apply tw-list-decimal;
}

.prose li {
  @apply tw-mb-4;

  a {
    @apply tw-text-hyperlinks tw-underline visited:tw-text-hyperlinks-visited;
  }
}

.prose pre {
  @apply tw-mb-8;
}

.prose code {
  @apply tw-text-brand-red;
}

// overwrite search page styles
.ais-RefinementList-list {
  font-size: 1rem !important;
}

.ais-RefinementList-item {
  margin-bottom: 0.5rem !important;
}

.ais-Hits-list,
.ais-Pagination-list,
.ais-RefinementList-list {
  list-style: none !important;
  padding-left: 0 !important;
}

.n-dropdown-menu {
  ul {
    list-style-type: none !important;
    padding-left: 0 !important;
  }

  li {
    margin-bottom: 0 !important;
  }
}

.nav-pagination {
  .page-numbers {
    @apply tw-px-3 tw-py-1 sm:tw-mx-1 tw-underline hover:tw-text-hyperlinks sm:first:tw-inline sm:last:tw-inline;
  }

  .current {
    @apply tw-rounded tw-bg-gray-light;
  }
}

.v-pagination {
  list-style-type: none !important;
  margin-bottom: 0 !important;
  padding-left: 0 !important;

  li {
    margin-bottom: 0 !important;
  }
}

.n-postcode {
  ul {
    list-style-type: none !important;
    padding-left: 0 !important;
  }

  li {
    margin-bottom: 0 !important;
  }
}

.wp-block-columns {
  gap: 30px;
}

/**
 * collapse columns at 768px and apply flex-col so
 * you can ad a flex-col-reverse to switch de order
 */
@media only screen and (max-width: 767px) {
  .wp-block-columns {
    @apply tw-flex-col tw-flex tw-flex-nowrap;

    flex-wrap: nowrap !important;

    .wp-block-column {
      @apply tw-ml-0;
    }
  }
}

// @media only screen and (max-width: 767px) {
//   .wp-block-columns {
//     @apply tw-block;

//     .wp-block-column {
//       @apply tw-ml-0;
//     }
//   }
// }

/**
 * helper class to switch order when collapse
 */
.tw-reverse {
  @apply tw-flex-col-reverse md:tw-flex-row;
}

.tw-mb-0-p p {
  margin-bottom: 0.5rem !important;
}

.h2-stories {
  font-size: 1.875rem !important;

  @media only screen and (min-width: 768px) {
    margin-bottom: 0 !important;
    font-size: 2.25rem !important;
  }

  @media only screen and (min-width: 1366px) {
    font-size: 3rem !important;
  }
}

.h2-search-page {
  font-size: 20px !important;
  margin-bottom: 0.5rem !important;
}
